body {
    font-size: 16px;
    font-family: Arial;
}

#headingdiv,
#searchbox,
#resultdiv,
#infodiv,
#footer {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#headingdiv {
    background-color: white;
    text-align: center;
}

.formgroup {
    margin: auto;
}

#searchbox {
    padding: 30px;
}

img {
    float: left;
    width: 100px;
    height: 300px;
    object-fit: contain;
}

.card {
    margin: 20px;
    padding: 5px;
}

.border-primary {
    border-width: 3px !important;
}

#carddetails {
    display: none;
    grid-template-columns: 50% 50%;
}

.hiddenID {
    /* display: none; */
}